[submodule "crn_designer/static/TimeRails"]
	path = crn_designer/static/TimeRails
	url = git@github.com:jamesscottbrown/TimeRails.git
[submodule "crn_designer/static/crn-sketch-editor"]
	path = crn_designer/static/crn-sketch-editor
	url = git@github.com:jamesscottbrown/crn-sketch-editor.git
