
{% extends "layout.html" %}


 {% block css %}
    {% assets "css_spec" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_other %} onload="initialize();"{% endblock %}


{% block content %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>

    <script type="text/javascript">
        function initialize(){

            for (var i = 0; i < generate.length; i++) {
                generate[i]();
            }

            crn = crnEditor({divName: 'crnDiv', headerLevel: 2, updateSpeciesCallback: updateSpeciesLists,
                updateInputCallback: updateInputSubplots, renameSpeciesCallback: diagram.renameVariable,
                deleteVariableCallback: diagram.deleteVariable });
            crn.setCRN('{{ project.crn_sketch | safe }}');

            {% if project.status %}
                crn.disableEditing();

                diagram.specification_fixed = true;
                document.getElementById("constant_checkbox").checked = true;
            {% endif %}

        }

        function saveCRN() {
            var crn_string = crn.getCRNjson();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: window.location.href + "saveCRN",
                dataType: 'html',
                async: true,
                data: crn_string,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function () {
                    console.log("SUCCESS")
                },
                error: function (result, textStatus) {
                    console.log(result);
                    console.log(textStatus);
                }
            })
    }

    function updateSpeciesLists(species, speciesVariables){

        var variableNames = species.concat(speciesVariables);

        var options = d3.select("#addSubplotVariableSelect")
            .selectAll("option")
            .data(variableNames);

        options
            .enter()
            .append("option");

        options
            .exit()
            .remove();

        options.attr("value", function (d) {
            return d.name;
        })
            .text(function (d) {
                return d.name;
            });

    }

    function updateInputSubplots(inputs){
        var plottedVariables = diagram.getVariableNames();

        for (var i=0; i<inputs.length; i++){

            var name = inputs[i].name;
            if (plottedVariables.indexOf(name) == -1){
                diagram.addInputSubplot(name);
            }
        }
        // TODO: handle deletion
    }

    function addSubplot(){
       var variable = d3.select("#addSubplotVariableSelect").node().value;
        var derivative = d3.select("#addSubplotDerivativeSelect").node().value;
        var variance = d3.select("#addSubplotVarianceSelect").node().value;

        var derivativePrimes = Array(parseInt(derivative) + 1).join("'");

        var name = "";
        if (variance == "variance"){
            name =  "Var(" + variable + ")" + derivativePrimes;
        } else if (variance == "expectation"){
            name =  "E(" + variable + ")" + derivativePrimes;
        } else {
            name = variable + derivativePrimes;
        }

        // prevent creation of multiple subplots with same y-label
        if (diagram.getVariableNames().indexOf(name) == -1){
            diagram.addConstraintSubplot('', name, variable);
        }
    }

    </script>



    <script type="text/javascript">var generate = [];</script>


<h1>{{project.name}}
    {% if project.user == current_user %}
    <small>(<a href="/projects/{{ project.id }}/edit"><i class="fa fa-pencil"></i>Edit</a>,
        <a href="/projects/{{ project.id }}/copy"><i class="fa fa-clipboard"></i>Copy</a>, or
        <a href="/projects/{{ project.id }}/delete"><i class="fa fa-trash-o"></i>Delete</a>)
    </small>
    {% else %}
    <small>(<a href="/projects/{{ project.id }}/copy"><i class="fa fa-clipboard"></i>Copy</a>)</small>
    {% endif %}
</h1>

    <blockquote>{{project.description}}</blockquote>

{% if project.status %} <div><b>Status</b>: {{project.status}}</div>  {% endif %}

    <h2>Sketch</h2>
    <div id="crnDiv"></div>
    <button onclick='saveCRN()'>Save CRN</button>

    <h2>Specifications</h2>

    <p>Right-click on a subplot to add a mode (which has non-zero duration) or interval (which has zero duration).
    You can right-click on the red circle of the mode/interval, select "Link start times" and click on a mode (to indicate that it should follow that mode), or a mode's red circle (to indicate that they should start at the same time).
    To indicate that two modes both start and end at the same time, right-click on one, select "Share times with another mode", and click on the other.
    </p>

        <div>
        Add subplot for

            <select id="addSubplotDerivativeSelect">
            	<option value="0"></option>
            	<option value="1">the first derivative of </option>
            	<option value="2">the second derivative of </option>
            </select>

            <select id="addSubplotVarianceSelect">
            	<option value="">the value of</option>
                <option value="expectation">the expected value of</option>`
            	<option value="variance">the variance of</option>
            </select>

            <select id="addSubplotVariableSelect"></select>
            <a href="" class="fa fa-plus" aria-hidden="true" onclick="addSubplot(); return false;"></a
        </div>


        <div id="constraint_diagram_div">

            <div class="svg-container"></div>

            <script type="text/javascript">generate.push( function bar(x){
                diagram = new Diagram("constraint_diagram_div", "0", {max_depth: 1, allow_rectangles: false, allow_modes: true, allow_intervals: true, allow_globally: false, generateExampleTrajectories: false, saveURL: window.location + "save"});
                diagram.load({{ project.spec | safe }});
                diagram.plotData();
            })
            </script>
        </div>



    <p><a href="./upload">Upload data file</a></p>

    <h2>Solver Options</h2>

<form action="./solve" class=".form-horizontal" method="post">

    <div class="form-group">
        <label class=".control-label" for="solver">Solver:</label>
        <select class="form-control" id="solver" name="solver" {%if project.status %}disabled{% endif %}>
            <option value="None" {% if project.crn_semantics == "None" %}selected{% endif %}>Generate input files for solvers only</option>
            <option value="iSAT" {% if project.crn_semantics == "iSAT" %}selected{% endif %} {%if not solvers_enabled %}disabled{% endif %}>Solve with iSAT</option>
            <option value="dReach" {% if project.crn_semantics == "dReach" %}selected{% endif %} {%if not solvers_enabled %}disabled{% endif %}>Solve with dReach</option>
        </select>
    </div>


    <div class="form-group">
        <label class=".control-label" for="semantics">CRN Semantics:</label>
        <select class="form-control" id="semantics" name="semantics" {%if project.status %}disabled{% endif %}>
            <option value="ODE" {% if project.crn_semantics == "ODE" %}selected{% endif %}>Deterministic (ODE)</option>
            <option value="LNA" {% if project.crn_semantics == "LNA" %}selected{% endif %}>Stochastic (Linear Noise Approximation)</option>
        </select>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

    {% if project.status %}

        <h2>Generated files</h2>
        <ul>
            <li><a href="iSAT">iSAT file</a>.
                Usage: <code>isat --i <i>file_name</i>.hys --prabs=0.1 --msw=0.5 --max-depth=2  --ode-opts --continue-after-not-reaching-horizon</code>
            </li>
            <li><a href="dReach">dReach file</a>.
                Usage: <code>dreach --k 2 <i>file_name</i>.drh --precision 0.1</code>
            </li>
        </ul>
<p>You may need to adjust the number of modes and precision in these usage examples.</p>


    {% endif %}


{% endblock %}


{% block js %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    var dataset_names = [];
    var diagram;

    {% if project.solver %} d3.select("#solver").node().value = {{ project.solver }}; {% endif %}
    {% if project.semantics %} d3.select("#semantics").node().value = {{ project.semantics }}; {% endif %}
    {% if project.actually_solve %} d3.select("#actually_solve").node().value = {{ project.actually_solve }}; {% endif %}

</script>


{% assets "js_spec" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
