
{% extends "layout.html" %}


 {% block css %}
    {% assets "css_spec" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_other %} onload="initialize();"{% endblock %}


{% block content %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>

    <script type="text/javascript">
        function initialize(){

            for (var i = 0; i < generate.length; i++) {
                generate[i]();
            }

            crn = crnEditor({divName: 'crnDiv', headerLevel: 2});
            crn.setCRN('{{ project.crn_sketch | safe }}');

            {% if project.status %} crn.disableEditing();  {% endif %}

        }

        function saveCRN() {
            var crn_string = crn.getCRNjson();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: window.location.href + "saveCRN",
                dataType: 'html',
                async: true,
                data: crn_string,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function () {
                    console.log("SUCCESS")
                },
                error: function (result, textStatus) {
                    console.log(result);
                    console.log(textStatus);
                }
            })
    }

    </script>


    <script type="text/javascript">var generate = [];</script>


<h1>{{project.name}}
    {% if project.user == current_user %}
    <small>(<a href="/projects/{{ project.id }}/edit"><i class="fa fa-pencil"></i>Edit</a>,
        <a href="/projects/{{ project.id }}/copy"><i class="fa fa-clipboard"></i>Copy</a>, or
        <a href="/projects/{{ project.id }}/delete"><i class="fa fa-trash-o"></i>Delete</a>)
    </small>
    {% else %}
    <small>(<a href="/projects/{{ project.id }}/copy"><i class="fa fa-clipboard"></i>Copy</a>)</small>
    {% endif %}
</h1>

    <blockquote>{{project.description}}</blockquote>

{% if project.status %} <div><b>Status</b>: {{project.status}}</div>  {% endif %}

    <h2>Sketch</h2>
    <div id="crnDiv"></div>
    <button onclick='saveCRN()'>Save CRN</button>

    <h2>Specifications</h2>

        <div>
            <button id="export_button">Export specifications</button>
            <label for="operator">joined by: </label>
            <select id="operator">
                <option>and</option>
                <option>or</option>
            </select>
        </div>

    <div><a href="/specifications/add?project={{project.id}}"><i class="fa fa-plus" aria-hidden="true"></i>Add a new specification to the project</a></div>

    {% for spec in project.specifications %}
        <h2>{{ spec.name }} <small>(<a href="/specifications/{{spec.id}}/edit"><i class="fa fa-pencil"></i>Edit</a> or
            <a href="/specifications/{{spec.id}}/delete"><i class="fa fa-trash-o"></i>Delete</a>)</small></h2>
        <blockquote>{{spec.description}}</blockquote>

        <p>Saved specification is: <code id="spec_string_{{spec.id}}">{{spec.specification}}</code> for <code>{{spec.variable}}</code></p>

        <div id="constraint_{{spec.id}}">

            <div class="svg-container"></div>

            <div class="panel-group space-div" id="accordion-{{ loop.index }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-{{loop.index}}" href="#collapseText-{{loop.index}}">Textual Description</a>
                        </h4>
                    </div>

                    <div id="collapseText-{{loop.index}}" class="panel-collapse collapse in">
                        <div class="panel-body placeholder-form">
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-{{loop.index}}" href="#collapseSymbol-{{loop.index}}">Symbolic Description</a>
                        </h4>
                    </div>

                    <div id="collapseSymbol-{{loop.index}}" class="panel-collapse collapse in">
                        <div class="panel-body placeholder-latex">

                            <input id="use_letters_checkbox" value="false" type="checkbox">
                            <label for="use_letters_checkbox">Use letters</label>
                        </div>
                    </div>
                </div>
        </div>

            <script type="text/javascript">generate.push( function bar(x){
                var diagram = add_subplot_from_specification("{{spec.specification}}", "constraint_{{spec.id}}", "{{spec.id}}", "{{spec.variable}}");
                diagrams.push(diagram);
            })
            </script>
        </div>
    {% endfor %}

    {% if project.specifications %}
        <div><a href="/specifications/add?project={{project.id}}"><i class="fa fa-plus" aria-hidden="true"></i>Add a new specification to the project</a></div>
    {% endif %}

    <h2>Solver Options</h2>

<form action="./solve" class=".form-horizontal">

    <div class="form-group">
        <label class=".control-label" for="solver">Solver:</label>
        <select class="form-control" id="solver">
            <option>iSAT</option>
            <option disabled>dREAL</option>
            <option disabled>MathSAT</option>
            <option disabled>local search</option>
        </select>
    </div>

    <div class="form-group">
        <label class=".control-label" for="actually-solve">Solve?:</label>
        <select class="form-control" id="actually-solve">
            <option value="Yes">Solve - generate CRN</option>
            <option value="No">Generate input for solver only</option>
        </select>
    </div>


    <div class="form-group">
        <label class=".control-label" for="semantics">CRN Semantics:</label>
        <select class="form-control" id="semantics">
            <option value="ODE">Deterministic (ODE)</option>
            <option value="LNA">Stochastic (Linear Noise Approximation)</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}


{% block js %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript">
    var diagrams = [];
    var csrf_token = "{{ csrf_token() }}";
    var dataset_names = [];

    {% if project.solver %} d3.select("#solver").node().value = {{ project.solver }}; {% endif %}
    {% if project.semantics %} d3.select("#semantics").node().value = {{ project.semantics }}; {% endif %}
    {% if project.actually_solve %} d3.select("#actually_solve").node().value = {{ project.actually_solve }}; {% endif %}

</script>


{% assets "js_spec" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
