
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>

        <p> <b>CRN Designer</b> is a visual tool for synthesizing a Chemical Reaction Network that meets a specification.</p>

          <p>This is a web-app that allows a user to draw a parametrized sketch of a chemical reaction network,
    and a functional specification, and synthesises a set of parameters and initial conditions that satisfy
    this specification, using the method described in <a href="https://link.springer.com/chapter/10.1007/978-3-319-63390-9_20">Syntax-Guided Optimal Synthesis for Chemical Reaction Networks</a>.</p>

        <p>It was developed by <a href=http://jamesscottbrown.com/>James Scott-Brown</a> and <a href="https://www.cs.ox.ac.uk/people/max.whitby/">Max Whitby</a>.</p>

  		<p>The source code is <a href="https://github.com/jamesscottbrown/crn-designer">available from Github</a>.

    </div>

</div>
{% endblock %}

