
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>

        <p> <b>CRN Designer</b> is a visual tool for synthesizing a Chemical Reaction Network that meets a specification.</p>

          <p>This is a web-app that allows a user to draw a parametrized sketch of a chemical reaction network,
    and a functional specification, and synthesises a set of parameters and initial conditions that satisfy
    this specification, using the method described in <a href="https://link.springer.com/chapter/10.1007/978-3-319-63390-9_20">Syntax-Guided Optimal Synthesis for Chemical Reaction Networks</a>.
          It is based on the <a href="https://github.com/max1s/CRNSynthesis">CRNSynthesis</a> Python package.
          </p>

        <p>It was developed by <a href=http://jamesscottbrown.com/>James Scott-Brown</a> and <a href="https://www.cs.ox.ac.uk/people/max.whitby/">Max Whitby</a>.</p>

        <h2>Usage</h2>
        <p>To use this site (except to view existing public projects) you will need to <a href="../register/">register</a> and log-in.</p>
        <p>You can then create a project by clicking the <a href="../projects/add">"Create Project"</a> link in the navigation bar at the top of each page.</p>

        <h2>Installing and running locally</h2>
  		<p>The source code is <a href="https://github.com/jamesscottbrown/crn-designer">available from Github</a>.
            For installation instructions, see the <a href="https://github.com/jamesscottbrown/crn-designer">README</a>.</p>

    </div>

</div>
{% endblock %}


