
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Edit specification</h1>
    <br/>
    <form id="projectForm" class="form" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
                {{form.name.label}}
                {{form.name(value=current_spec.name, class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.description.label}}
                {{form.description(value=current_spec.description, class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.specification.label}}
                {{form.specification(value=current_spec.specification, class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.variable.label}}
                {{form.variable(class_="form-control")}}
            </div>

            <p><input class="btn btn-default btn-submit" type="submit" value="Update"></p>
    </form>
</div>
{% endblock %}

