
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Add dataset to project</h1>
    <br/>
    <form id="projectForm" class="form" method="POST" action="" role="form" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.name.label}} (Required)
                {{form.name(placeholder="Name of dataset", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.description.label}}
                {{form.description(placeholder="Description", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.data.label}} (Required)
                {{form.data(placeholder=".csv file of data", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Add"></p>
    </form>
</div>
{% endblock %}

