
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Create new specification</h1>
    <br/>
    <form id="projectForm" class="form" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            {{ form.project_id(value=project_id) }}

            <div class="form-group">
                {{form.name.label}} (Required)
                {{form.name(placeholder="Specification name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.description.label}}
                {{form.description(placeholder="Specification Description", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.specification.label}}
                {{form.specification(placeholder="Actual specification string", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.variable.label}}
                {{form.variable(class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Create"></p>
    </form>
</div>
{% endblock %}

